<h2 class="page-header">Register</h2>
<p>Please register using the form below</p>

<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" >
	<div class="form-group">
		<label for="">aaa</label>
		<input formControlName="name" type="text" class="form-control">

		<div class="alert alert-danger" *ngIf="!registerForm.controls['name'].valid && registerForm.controls['name'].touched">
			Name is required..
		</div>
	</div>

	<div class="form-group">
		<label for="">bbb</label>
		<textarea formControlName="description" name="description" id="" cols="30" rows="5" class="form-control"></textarea>

		<div class="alert alert-danger" *ngIf="!registerForm.controls['description'].valid && registerForm.controls['description'].touched">
			Description is required..
		</div>
	</div>

	<input 
		type="submit" 
		class="btn btn-primary" 
		value="Register"
		[disabled]="!registerForm.valid"
		>
</form>